@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

@layer {
  body {
    @apply font-[Sen];
    background-color: #000300;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}


.content-div:hover {
  background-image: linear-gradient(to right,
      rgba(11, 109, 77, 0.8),
      hsla(214, 85%, 45%, 0.8)) !important;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
  background-color: #075985;
  border-radius: 1em;
  /*box-shadow: 2px 2px 4px #e1eaee;*/
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0a154f;
}